body {
    font-family: Arial, sans-serif;
    background: #222;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
  }

h1 {
    margin-top: 40px;
  }

.choices {
    margin-top: 40px;
  }

button {
    font-size: 20px;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #444;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #666;
    transform: scale(1.1);
}

#result,
#score,
#cpu,
#you {
    margin-top: 20px;
    font-size: 24px;
  }

.highlight {
    font-weight: bold;
    color: #00eaff;
  }